<!-- <
<h2>{{ nombre | titlecase }}</h2>

<button pButton 
        (click)="mostrarNombre()" 
        label="Cambiar Nombre" 
        icon="pi pi-check" iconPos="left" 
        class="p-button-success">
</button>

<hr>

<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>> -->

<app-menu></app-menu>

<router-outlet></router-outlet>