<h2 class="mt-3">Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <!--le paso al metodo la referencia de este formulario junto a sus datos-->
        <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off" >

            <!-- Campo producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" >Producto</label>
                <div class="col-sm-9">
                    <input type="text" 
                           class="form-control" 
                           ngModel name="producto" 
                           [ngModel]="initForm.producto"
                           placeholder="Nombre del producto"
                           minlength="3" required>
                    <span class="form-text text-danger" 
                          *ngIf="nombreValido()">
                          Debe ser de 3 letras
                    </span>
                </div>
            </div>

            <!-- Campo precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input  type="number" 
                            class="form-control" 
                            [ngModel]="initForm.precio"
                            ngModel name="precio" 
                            placeholder="Precio del producto">    
                    <span class="form-text text-danger" 
                           *ngIf="precioValido()">
                            Debe ser 0 o mayor      
                    </span>       
                </div>
            </div>

            <!-- Campo existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input  type="number" class="form-control" 
                            [ngModel]="initForm.existencias"
                            customMin [minimo]="0"
                            ngModel name="existencias" 
                            placeholder="Existencias del producto">                  
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.invalid" >Guardar</button>
                </div>
            </div>

        </form>
    </div>
</div>