<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="miForm">
    <div class="row g-3 align-itemms-center mb-3">

        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
           <input type="text" formControlName="nombre" lass="form-control">
        </div>

        <div class="col-auto">
           <span class="form-text" 
                 error-msg 
                 *ngIf="tieneError('nombre')" >
            </span>
         </div>

    </div>

    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary">Guardar</button>
        </div>
    </div>

</form>

<h3 class="mt-5">Formulario</h3>

<pre>Value: {{ miForm.value | json }} </pre>
<pre>Valid: {{ miForm.valid }} </pre>